/* =============
    Gallery
============= */
#gallery {
    ul {
        display: grid;
        grid-gap: 24px;
        justify-content: center;
        grid-template-areas:
        "mission"
        "kid1"
        "kid2"
        "kid3";
        grid-template-rows: repeat(4, 272px);

        li {
            background-size: cover;
            height: 100%;
        }
        li:nth-child(1) {
            grid-area: mission;
        }
        li:nth-child(2) {
            grid-area: kid1;
        }
        li:nth-child(3) {
            grid-area: kid2;
        }
        li:nth-child(4) {
            grid-area: kid3;
        }
    }
}
