/* =============
    Header
============= */
header {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 10px;
    background-color: $light;
    padding: 32px 16px 16px 16px;

    nav {
        i {
            font-size: rem-calc(30);
            color: $dark;
            top: -24px;
        }
    }

    aside {
        text-align: right;
        a:link,
        a:visited {
        }

        a:active,
        a:hover {
            color: $confetti;
            background-color: $dark;
        }
    }
}
